/*-----------------------------------------------------------------------------
		VAR.SCSS
-----------------------------------------------------------------------------*/
$main-color:#78e5e4;
$border-color:#dddddd;
$text-color:	#212121;
$hover-color:	#FF5556;
$font1: 'Lora';
$font1r:'Lora Regular';
$font1i: 'Lora Italic';
$font2:'Montserrat', sans-serif;
$font3: 'Raleway', sans-serif;
$font4:'Roboto', sans-serif;